<!doctype html>
<html lang="zh-Hant-TW">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <style>
        body {
            font-family: Jost, "Microsoft JhengHei", 微軟正黑體, 微软雅黑, sans-serif, 'Noto Sans TC', -apple-system, Arial, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
        }

        .container {
            max-width: 800px;
        }

        .selfdefined-scrollbar {
            overflow-x: hidden;
            overflow-y: auto;
            height: 120px;
        }

        .selfdefined-scrollbar::-webkit-scrollbar {
            width: 6px;
            /* Adjust width as needed */
        }

        .selfdefined-scrollbar::-webkit-scrollbar-thumb {
            background-color: #aaa;
            border-radius: 10px;
        }

        .selfdefined-scrollbar::-webkit-scrollbar-thumb:hover {
            background-color: #888;
        }

        .selfdefined-scrollbar::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        .material-info-container {
            display: grid;
            height: 100%;
            grid-template-columns: 2fr 3fr;
            gap: 0.35rem;
            font-size: 0.875rem;
            word-wrap: break-word;
            word-break: break-all;
        }

        .material-info-container p {
            margin: 0;
        }

        .material-info-container-title {
            grid-column: 1 / -1;
            margin: 0;
            color: #2c3e50;
            font-family: 微軟正黑體;
        }

        .transparent-label {
            color: transparent;
        }

        .transparent-border {
            border-color: transparent;
        }
    </style>

    <title>工程部-物料請購表單</title>
</head>

<body class="bg-light">
    <div class="container">
        <header class="m-2"></header>
        <main class="px-1 pt-1 pb-4 bg-white rounded-top-3 shadow">
            <div class="d-flex justify-content-between">
                <button class="btn p-0" style="width: 50px; height: 50px;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        class="w-50 h-50 bi bi-reply-fill text-secondary" viewBox="0 0 16 16" style="opacity: .45;">
                        <path
                            d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                    </svg>
                </button>
            </div>
            <form>
                <fieldset class="mx-5 my-2">
                    <div class="text-center mb-4">
                        <img src="{{ url_for('static', filename='images/banner.png') }}" alt="Banner"
                            class="img-fluid rounded">
                    </div>
                    <h3 class="p-2 text-start fw-bolder rounded-2" style="letter-spacing: 0.4rem;">
                        工程部請購單 (內部)
                    </h3>
                    <hr class="my-4">
                    <div class="row mb-3 align-items-stretch">
                        <div class="col-6">
                            <div class="m-2 p-1">
                                <label for="Input-1" class="form-label">料號</label>
                                <input type="text" class="form-control" id="Input-1">
                            </div>
                            <div class="m-2 p-1">
                                <label for="Input-2" class="form-label">供應商</label>
                                <input type="text" class="form-control" id="Input-2">
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <div class="mx-3 mt-2 px-4 pt-2 pb-2 bg-secondary border rounded-3 flex-fill selfdefined-scrollbar"
                                style="--bs-bg-opacity: .025;">
                                <div class="material-info-container">
                                    <div class="material-info-container-title d-flex align-items-center mb-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-signpost-split me-1" viewBox="0 0 16 16"
                                            style="opacity: .65;">
                                            <path
                                                d="M7 7V1.414a1 1 0 0 1 2 0V2h5a1 1 0 0 1 .8.4l.975 1.3a.5.5 0 0 1 0 .6L14.8 5.6a1 1 0 0 1-.8.4H9v10H7v-5H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7zm1 3V8H2l-.75 1L2 10zm0-5h6l.75-1L14 3H8z" />
                                        </svg>
                                        <h6 class="fw-bold mb-0" style="letter-spacing: 0.15rem;">物料資訊</h6>
                                    </div>
                                    <div class="fw-bold" style="letter-spacing: 0.15rem;">
                                        <p>品名：</p>
                                    </div>
                                    <div>
                                        <p id="parts-name">STA-2002S漆包線裁斷焊錫機更換控溫器</p>
                                    </div>
                                    <div class="fw-bold" style="letter-spacing: 0.15rem;">
                                        <p>單價：</p>
                                    </div>
                                    <div>
                                        <p id="unit-price">100 USD / 個</p>
                                    </div>
                                    <div class="fw-bold" style="letter-spacing: 0.15rem;">
                                        <p>上次請購：</p>
                                    </div>
                                    <div>
                                        <p id="last-purchase-date">2024 / 01 / 30</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="mx-2 my-2 p-1">
                                <label for="Input-3" class="form-label">數量</label>
                                <input type="number" class="form-control text-center" id="Input-3" min="0">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="m-1 p-2">
                                <p class="form-label text-center transparent-label">x</p>
                                <p class="form-control m-0 transparent-border text-center">x</p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="m-1 p-2">
                                <p class="form-label text-center w-100">單價</p>
                                <p id="unit-price-2" class="form-control m-0 transparent-border text-center">123</p>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="m-1 p-2">
                                <p class="form-label text-center transparent-label">=</p>
                                <p class="form-control m-0 transparent-border text-center">=</p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="m-1 p-2">
                                <p class="form-label text-center w-100">總價</p>
                                <p id="total-price" class="form-control m-0 transparent-border text-center">123</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="m-1 ps-4 pe-2 py-2 w-75 h-100 d-flex align-items-center">
                                <button class="btn btn-primary w-100 text-center" style="letter-spacing: 0.25rem;"
                                    disabled>
                                    <p class="m-0 p-0"> 更新</p>
                                    <p class="m-0 p-0"> 報價</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="m-2 p-1">
                        <label for="Input-4" class="form-label">物料類別</label>
                        <select id="Input-4" class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="m-2 p-1">
                        <label for="Input-5" class="form-label">申請人</label>
                        <input type="text" class="form-control" id="Input-5" placeholder="工號 = 001  or  姓名 = 王小明">
                    </div>
                    <div class="m-2 p-1">
                        <label for="Input-6" class="form-label">需求日期</label>
                        <input type="date" class="form-control" id="Input-6">
                    </div>
                    <div class="m-2 p-1">
                        <label for="Input-7" class="form-label">收貨廠區</label>
                        <select id="Input-7" class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="m-2 p-1">
                        <label for="Input-8" class="form-label">請購理由</label>
                        <select id="Input-8" class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="m-2 p-1">
                        <label for="Input-9" class="form-label">隸屬於專案</label>
                        <select id="Input-9" class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="m-2 p-1">
                        <label for="Input-10" class="form-label">用途說明</label>
                        <textarea id="Input-10" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="m-2 p-1">
                        <label for="Input-11" class="form-label">備註</label>
                        <textarea id="Input-11" class="form-control" rows="4"></textarea>
                    </div>
                </fieldset>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-primary rounded-3">提交</button>
                </div>
            </form>
        </main>
        <footer class="my-5 text-muted text-center text-small"></footer>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <script>
        (() => {
            // 取得物料資訊
            function fetch_form_dependencies() {
                fetch('/purchase-requisition-dependencies', {
                    method: 'GET'
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data); // 使用 console.log 而不是 print
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
            }

            // 為指定的 <select> OR <datalist> 設置選項，首先清除所有現有選項，然後添加一個預設選項和選項清單
            function setupSelectOptions(selector, list) {
                // 清除 selector 中的所有子節點
                while (selector.firstChild) selector.removeChild(selector.firstChild);

                // 創建並添加一個預設選項，該選項被禁用且被隱藏
                const defaultOption = new Option('請選擇一個選項', '', true, true);
                defaultOption.hidden = true;
                selector.appendChild(defaultOption);

                // 遍歷清單元素，創建並添加選項
                list.forEach(columnName => selector.appendChild(new Option(columnName, columnName)));
            }

            // 從表單提取參數
            function getForm() {
                const form = document.querySelector('form');
                const elements = form.querySelectorAll('input, select');
                let form_data = { type: {}, value: {} };

                elements.forEach(element => {
                    form_data.type[element.id] = element.type;
                    form_data.value[element.id] = element.type === 'file' ? (element.files[0] ? element.files[0] : null) : (element.value || null);
                });

                return form_data;
            }

            function startup() {
                fetch_form_dependencies();
            }
            window.addEventListener('load', startup, false);
        })();
    </script>
</body>

</html>