<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Requisition Overview</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-PI8n5gCcz9cQqQXm3PEtDuPG8qx9oFsFctPg0S5zb8g=" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" integrity="sha256-9kPW/n5nn53j4WMRYAxe9c1rCY96Oogo/MKSVdKzPmI=" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-daterangepicker@3.1.0/daterangepicker.css" rel="stylesheet" integrity="sha256-lP22bsj+dImBpPIJD99KKgo9vlrOLmXEzkbpXWkr2sc=" crossorigin="anonymous">
    <style>
        .table-responsive {
            overflow-x: auto;
        }
        .table thead th {
            white-space: nowrap;
        }
        .sortable-ghost {
            opacity: 0.8;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="m-2">
            <div class="d-flex justify-content-between">
                <button type="button" class="btn p-0" style="width: 50px; height: 50px;" onclick="window.location.href='/';" aria-label="Return to homepage">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-50 h-50 bi bi-reply-fill text-secondary" viewBox="0 0 16 16" style="opacity: .45;">
                        <path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                    </svg>
                </button>
            </div>
            <h1 class="my-2 fw-bold">請購明細查詢</h1>
            <h4 class="my-1" style="opacity: .9;">匯出ERP請購系統csv格式</h4>
        </header>
        <main>
            <!-- 搜索條件 -->
            <form id="filter-form" class="my-4" autocomplete="off">
                <div class="row">
                    <div class="col-md-1 px-3">
                        <label for="Input_supplier" class="form-label ms-1 fw-bold">供應商</label>
                        <input type="text" class="form-control" id="Input_supplier" list="supplier_datalist">
                        <datalist id="supplier_datalist"></datalist>
                    </div>
                    <div class="col-md-2 px-3">
                        <label for="Input_materialId" class="form-label ms-1 fw-bold">料號</label>
                        <input type="text" class="form-control" id="Input_materialId" maxlength="38" list="material_datalist">
                        <datalist id="material_datalist"></datalist>
                    </div>
                    <div class="col-md-3 px-4">
                        <label for="Input-dateRange" class="form-label ms-1 fw-bold">日期區間</label>
                        <input type="text" id="Input-dateRange" name="daterange" class="form-control" placeholder="年/月/日 - 年/月/日">
                    </div>
                    <div class="col-md-2 px-4">
                        <label for="Input_stmtStatus" class="form-label ms-1 fw-bold">狀態</label>
                        <select id="Input_stmtStatus" class="form-select" value="" aria-label="請購狀態選單">
                            <option value="">[所有狀態]</option>
                            <option value="等待物料更新">等待物料更新</option>
                            <option value="正在集單">正在集單</option>
                            <option value="請購簽核進行中">請購簽核進行中</option>
                            <option value="退件等待處置">退件等待處置</option>
                            <option value="採購中等待收貨">採購中等待收貨</option>
                            <option value="等待驗收">等待驗收</option>
                            <option value="已結案">已結案</option>
                        </select>
                    </div>
                    <div class="col-md-2 px-3">
                        <label for="Input_delieveryOffice" class="form-label ms-1 fw-bold">收貨廠區</label>
                        <select id="Input_delieveryOffice" class="form-select" aria-label="收貨廠區選單">
                            <option selected>選項載入中...</option>
                        </select>
                    </div>
                    <div class="col-md-1 px-3">
                        <label for="Input_applier" class="form-label ms-1 fw-bold">員工號</label>
                        <input type="text" class="form-control" id="Input_applier" placeholder="Ex. 001" list="employee_datalist">
                        <datalist id="employee_datalist"></datalist>
                    </div>
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                        <button id="search-btn" type="button" class="btn btn-primary d-none">搜尋</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>

            <!-- 資料清單 -->
            <div id="records-container" class="mt-4">
                <!-- 清單將動態填充 -->
            </div>
        </main>
    </div>
    <!-- Modal 結構: 彈窗預覽檔案 -->
    <div class="modal fade" id="filePreviewModal" tabindex="-1" aria-labelledby="filePreviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filePreviewModalLabel">文件預覽</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe id="filePreviewIframe" width="100%" height="600px" class="d-none"></iframe>
                    <video id="videoPlayer" controls class="w-100 d-none">
                        Your browser does not support the video tag.
                    </video>
                    <audio id="audioPlayer" controls class="w-100 d-none">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 結構: 彈窗展示明細 -->
    <div class="modal fade" id="stmtDetailsModal" tabindex="-1" aria-labelledby="stmtDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stmtDetailsModalLabel">請購明細-所有資訊</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row border-bottom mb-3 pb-2">
                            <h5 class="text-primary">編號</h5>
                            <div class="col-6">
                                <p>
                                    <strong>明細編號:</strong>
                                    <span id="displayStmt-stmtId"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>正式請購單號:</strong>
                                    <span id="displayStmt-OfficialReqFormId"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3 pb-2">
                            <h5 class="text-primary">供應商</h5>
                            <div class="col-6">
                                <p>
                                    <strong>編號:</strong>
                                    <span id="displayStmt-supplierId"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>簡稱:</strong>
                                    <span id="displayStmt-supplierName"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3 pb-2">
                            <h5 class="text-primary">物料</h5>
                            <div class="col-6">
                                <p>
                                    <strong>料號:</strong>
                                    <span id="displayStmt-materialId"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>品名規格:</strong>
                                    <span id="displayStmt-partName"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3 pb-2">
                            <h5 class="text-primary">請購人</h5>
                            <div class="col-6">
                                <p>
                                    <strong>工號:</strong>
                                    <span id="displayStmt-applierId"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>姓名:</strong>
                                    <span id="displayStmt-applierName"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3 pb-2">
                            <h5 class="text-primary">價格</h5>
                            <div class="col-6">
                                <p>
                                    <strong>單價:</strong>
                                    <span id="displayStmt-unitPrice"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>數量:</strong>
                                    <span id="displayStmt-quantity"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>總價:</strong>
                                    <span id="displayStmt-totalPrice"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>幣別:</strong>
                                    <span id="displayStmt-currency"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3 pb-2">
                            <h5 class="text-primary">狀態列</h5>
                            <div class="col-6">
                                <p>
                                    <strong>狀態:</strong>
                                    <span id="displayStmt-status"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>更新日期:</strong>
                                    <span id="displayStmt-statusUpdateDate"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3 pb-2">
                            <h5 class="text-primary">說明</h5>
                            <div class="col-6">
                                <p>
                                    <strong>用途說明:</strong>
                                    <span id="displayStmt-description"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>給資材的備註:</strong>
                                    <span id="displayStmt-remarks"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3 pb-2">
                            <h5 class="text-primary">其他細節</h5>
                            <div class="col-6">
                                <p>
                                    <strong>收貨廠區地址碼:</strong>
                                    <span id="displayStmt-delieveryOfficeId"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>收貨廠區名稱:</strong>
                                    <span id="displayStmt-delieveryOfficeName"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>物料類別:</strong>
                                    <span id="displayStmt-materialType"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>請購類型:</strong>
                                    <span id="displayStmt-purchaseType"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>專案名稱:</strong>
                                    <span id="displayStmt-projectName"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row border-bottom mb-3 pb-2">
                            <h5 class="text-primary">日期</h5>
                            <div class="col-6">
                                <p>
                                    <strong>創建日期:</strong>
                                    <span id="displayStmt-createdDate"></span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <strong>修改日期:</strong>
                                    <span id="displayStmt-modifiedDate"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 結構: 彈窗修改明細狀態 -->
    <div class="modal fade" id="stmtChangeStatusModal" tabindex="-1" aria-labelledby="stmtChangeStatusModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="stmtChangeStatusModalLabel">修改狀態</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select id="changeStmtStatusSelector" class="form-select" aria-label="可選的狀態選單">
                        <option value="等待物料更新">等待物料更新</option>
                        <option value="正在集單">正在集單</option>
                        <option value="請購簽核進行中">請購簽核進行中</option>
                        <option value="退件等待處置">退件等待處置</option>
                        <option value="採購中等待收貨">採購中等待收貨</option>
                        <option value="等待驗收">等待驗收</option>
                        <option value="已結案">已結案</option>
                    </select>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">取消</button>
                <button type="button" class="btn btn-secondary" id="confirmChangeStatusBtn">確認修改</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js" integrity="sha256-rMfkFFWoB2W1/Zx+4bgHim0WC7vKRVrq6FTeZclH1Z4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js" integrity="sha256-xoh0y6ov0WULfXcLMoaA6nZfszdgI8w2CEJ/3k8NBIE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.2/lib/bundle.js" integrity="sha256-b4/iTif0LxfGrbF3LLsHwg852tbYcHbLpHMJnY3PsTo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/min/moment.min.js" integrity="sha256-hFxSSWnt1bOvmqbYcY0p/pLo2+JblVIUqOBkoFqaUCc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.45/builds/moment-timezone-with-data.min.js" integrity="sha256-JATtQzySjqI7GE9O3PpjVjwcGkI8Ny7ESx9Puif0NYY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC+mjoJimHGw=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-daterangepicker@3.1.0/daterangepicker.js" integrity="sha256-iOVs1FytPbiP3HcnhtFMzo0MwYebwD5OVr6Rnf2a0ik=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
    <script>
        (() => {
            const resourceName_get = [
                'suppliers',            // 供應商表
                'employees',            // 員工表
                'projects',             // 專案表
                'minmaxOffice',         // 捷拓廠區表
                'materials',            // 物料表
            ];

            const dataFrame = {};

            const ReqStmtStatusList = [
                '等待物料更新',
                '正在集單',
                '請購簽核進行中',
                '退件等待處置',
                '採購中等待收貨',
                '等待驗收',
                '已結案'
            ];

            const dfColNames = [
                '默認主鍵',
                '供應商簡稱',
                '物料代號',
                '單價',
                '幣別',
                '單位',
                '物料類別',
                '需求數量',
                '申請人工號簡碼',
                '需求到貨日期',
                '收貨廠區',
                '請購類型',
                '專案名稱',
                '用途說明',
                '備註',
                '狀態',
                '狀態更新時間戳',
                '資材部請購單號',
                '創建時間戳',
                '更新時間戳',
            ];

            const tableColNames = [
                'ID',
                '申請人',
                '供應商',
                '料號',
                '品名規格',
                '請購數量',
                '預估單價',,
                '幣別',
                '單位',
                '需求日期',
                '提交日期',
                '更多操作',
            ];

            const colNameMapping = {
                'ID': '默認主鍵',
                // '申請人': null,
                '供應商': '供應商簡稱',
                '料號': '物料代號',
                // '品名規格': null,
                '請購數量': '需求數量',
                '單位': '單位',
                '幣別': '幣別',
                '預估單價': '單價',
                '需求日期': '需求到貨日期',
                '提交日期': '創建時間戳',
                // '用途說明': '用途說明',
                // '請購備註': '備註',
            }

            const timezone = 'Asia/Taipei';

            let downloadPromises = [];
            let attachmentsDict = {};
            let groupCounter = 0;
            let reqStmtFilterResultDf = null;

            // 用以讀取主要相依資源
            function fetchResource(resourceName) {
                const url = new URL(`/api/${resourceName}`, window.location.origin);
                return fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        dataFrame[resourceName] = new dfd.DataFrame(data);
                        // console.log(`Fetched ${resourceName}`);
                    })
                    .catch(error => console.error(`Error fetching ${resourceName}:`, error));
                }

            /**
             * Fetches an attachment file from the server using the given prime key.
             *
             * @param {string} primeKey - The prime key of the attachment to fetch.
             * @returns {Promise<File|null>} - A promise that resolves to a File object or null if an error occurs.
             */
            async function fetchAttachment(primeKey) {
                try {
                    // 創建URL對象，基於當前頁面的根URL
                    const url = new URL(`/api/files/${primeKey}`, window.location.origin);
                    const response = await fetch(url);
                    const contentType = response.headers.get('Content-Type');

                    // 根據本api的設定，json格式是報錯時才會回傳，檔案回傳由後端自動判斷mimetype。
                    if (contentType && contentType.includes('application/json')) {
                        const data = await response.json();
                        if (data.error) throw new Error(data.error);
                        else throw new Error('Unknown error in JSON response');
                    }
                    else if (contentType) {
                        let blob = await response.blob();
                        let contentDisposition = response.headers.get('Content-Disposition');
                        let filename = '原檔名遺失';
                        if (contentDisposition) {
                            // 優先處理 filename* (RFC 5987 格式編碼，可以解析中文)
                            let match = contentDisposition.match(/filename\*=(?:UTF-8'')?([^;\n]*)/);
                            if (match && match[1]) {
                                filename = decodeURIComponent(match[1].replace(/['"]/g, ''));
                            }
                            else {
                                // 處理 filename (無法解析中文)
                                match = contentDisposition.match(/filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/);
                                if (match && match[1]) {
                                    filename = match[1].replace(/['"]/g, '');
                                }
                            }
                        }
                        return new File([blob], filename, { type: contentType });
                    }
                    else
                        throw new Error('Unknown response type');
                } catch (error) {
                    console.error('Error: 傳輸伺服器附件時發生錯誤\n' + error);
                    alert('傳輸伺服器附件時發生錯誤：' + error.message);
                    return null;
                }
            }

            /**
             * Fetches purchase request statements based on the provided filter criteria.
             *
             * @param {Object} filter - The filter criteria.
             * @param {string} filter.startDate - The start date for the filter.
             * @param {string} filter.endDate - The end date for the filter.
             * @param {string} filter.applierId - The ID of the applier.
             * @param {Array|string} filter.stmtStatus - The status or statuses of the statements.
             * @returns {Promise<Object>} - A promise that resolves to an object containing the status and DataFrame of the filtered results.
             */
            async function fetchPurchaseReqStmt({ supplierName, materialId, startDate, endDate, stmtStatus, delieveryOfficeName, applierId } = {}) {
                try {
                    const url = new URL('/api/purchaseRequestStmts', window.location.origin);
                    url.searchParams.append('supplierName', supplierName);
                    url.searchParams.append('materialId', materialId);
                    url.searchParams.append('startDate', startDate);
                    url.searchParams.append('endDate', endDate);
                    url.searchParams.append('delieveryOfficeName', delieveryOfficeName);
                    url.searchParams.append('applierId', applierId);
                    if (Array.isArray(stmtStatus)) {
                        stmtStatus.forEach(status => url.searchParams.append('stmtStatus', status));
                    } else {
                        url.searchParams.append('stmtStatus', stmtStatus);
                    }

                    const response = await fetch(url);
                    const data = await response.json();

                    if (response.ok) {
                        if (data.queryResult.length === 0) 
                            return { 'status': '無資料', 'df': new dfd.DataFrame()};

                        // const filterResultDf = new dfd.DataFrame(data.queryResult).drop({ columns: ['附件檔案'], inplace: false });
                        const filterResultDf = new dfd.DataFrame(data.queryResult);
                        return { 'status': '成功', 'df': filterResultDf };
                    } else {
                        throw new Error(data.error);
                    }
                } catch (error) {
                    console.error('Error fetching records:', error);
                    return { 'status': '失敗', 'df': new dfd.DataFrame()};
                }
            }

            async function changeStmtStatus() {

            }

            /**
             * Fetches purchase request statements and loads their attachments based on the provided filter criteria.
             *
             * @param {Object} filter - The filter criteria.
             * @param {string} filter.startDate - The start date for the filter.
             * @param {string} filter.endDate - The end date for the filter.
             * @param {string} filter.applierId - The ID of the applier.
             * @param {Array|string} filter.stmtStatus - The status or statuses of the statements.
             * @returns {Promise<Object>} - A promise that resolves to an object containing the status, DataFrame of the filtered results, a dictionary of attachments, and an array of download promises.
             */
            async function getReqStmtAndLoadAttachment({ supplierName, materialId, startDate, endDate, stmtStatus, delieveryOfficeName, applierId } = {}) {
                const data = {
                    supplierName: supplierName,
                    materialId: materialId,
                    startDate:startDate,
                    endDate:endDate,
                    stmtStatus:stmtStatus,
                    delieveryOfficeName: delieveryOfficeName,
                    applierId:applierId
                };
                const fetchPurchaseReqStmtReturn = await fetchPurchaseReqStmt(data);
                
                if (fetchPurchaseReqStmtReturn.status === '成功') {
                    const attachmentsDict = {};
                    const downloadPromises = dfd.toJSON(fetchPurchaseReqStmtReturn.df).flatMap(record => {
                        const key = record["默認主鍵"];
                        const applierNo = record["申請人工號簡碼"];
                        const supplierName = record["供應商簡稱"];
                        const fileMetas = record["附件檔案"];

                        if (fileMetas) {
                            attachmentsDict[key] = fileMetas.map(fileMeta => {
                                const contentType = fileMeta['內容分類'];
                                const description = fileMeta['檔案說明'];
                                const extension = fileMeta['副檔名'];
                                const hash = fileMeta['哈希值'];
                                const attr = {
                                    明細: key,
                                    請購人: applierNo,
                                    供應商: supplierName,
                                    分類: contentType,
                                    說明: description,
                                    extension: extension,
                                    hash: hash,
                                };
                                const downloadPromise = fetchAttachment(fileMeta['默認主鍵']).then(file => {
                                    return {
                                        file: file,
                                        attr: attr,
                                    };
                                });
                                return downloadPromise;
                            });
                            return attachmentsDict[key];
                        }
                        return [];
                    });
                    const df = fetchPurchaseReqStmtReturn.df.drop({ columns: ['附件檔案'], inplace: false });
                    return { 'status': '成功', 'df': df, 'attachmentsDict': attachmentsDict, 'downloadPromises': downloadPromises };
                }
                else if (fetchPurchaseReqStmtReturn.status === '無資料')
                    return { 'status': '無資料', 'df': new dfd.DataFrame(), 'attachmentsDict': {}, 'downloadPromises': [] };
                else
                    return { 'status': '失敗', 'df': new dfd.DataFrame(), 'attachmentsDict': {}, 'downloadPromises': [] };
            }

            /**
             * Initiates a search for purchase request statements and loads their attachments.
             *
             * @returns {Promise<void>}
             */
            async function search() {
                attachmentsDict = {}; // Reset attachmentsDict

                const supplierName = document.getElementById('Input_supplier').value || '';
                const materialId = document.getElementById('Input_materialId').value || '';
                const dateRange = document.getElementById('Input-dateRange').value || '';
                const [startDate, endDate] = dateRange.split(' - ').map(date => moment(date, 'YYYY/MM/DD').format('YYYY-MM-DD'));
                const Input_stmtStatus = document.getElementById('Input_stmtStatus').value || '';
                const stmtStatus = Input_stmtStatus === '' ? ReqStmtStatusList : Input_stmtStatus;
                const delieveryOfficeName = document.getElementById('Input_delieveryOffice').value || '';
                const applierId = document.getElementById('Input_applier').value || '';

                const queryAttrDict = {
                    supplierName: supplierName,
                    materialId: materialId,
                    startDate:startDate,
                    endDate:endDate,
                    stmtStatus:stmtStatus,
                    delieveryOfficeName: delieveryOfficeName,
                    applierId:applierId
                };
                const getReqStmtAndLoadAttachmentReturn = await getReqStmtAndLoadAttachment(queryAttrDict);

                if (getReqStmtAndLoadAttachmentReturn.status === '成功' || getReqStmtAndLoadAttachmentReturn.status === '無資料') {
                    reqStmtFilterResultDf = getReqStmtAndLoadAttachmentReturn.df;
                    await renderRecords(getReqStmtAndLoadAttachmentReturn.df);
                    attachmentsDict = getReqStmtAndLoadAttachmentReturn.attachmentsDict; // Store the attachments dictionary
                    downloadPromises = getReqStmtAndLoadAttachmentReturn.downloadPromises; // Store the download promises
                } else if (getReqStmtAndLoadAttachmentReturn.status === '失敗') {
                    alert('搜尋失敗');
                }
            }

            /**
             * Renders the purchase request statements in a table format.
             *
             * @param {dfd.DataFrame} df - The DataFrame containing the purchase request statements.
             * @returns {Promise<void>}
             */
            async function renderRecords(df) {
                const container = document.getElementById('records-container');
                container.innerHTML = '';

                if (df.shape[0] === 0) {
                    const noRecordsMessage = document.createElement('p');
                    noRecordsMessage.textContent = 'No records found.';
                    container.appendChild(noRecordsMessage);
                    return;
                }

                const tableContainer = document.createElement('div');
                tableContainer.className = 'table-responsive';
                const table = document.createElement('table');
                table.className = 'table table-striped user-select-none';
                const thead = document.createElement('thead');
                const tbody = document.createElement('tbody');
                tbody.id = 'initial-list';
                const headerRow = document.createElement('tr');

                tableColNames.forEach(columnName => {
                    const th = document.createElement('th');
                    th.textContent = columnName;
                    headerRow.appendChild(th);
                });
                thead.append(headerRow);

                dfd.toJSON(df).forEach(async stmtRecord => {
                    const row = document.createElement('tr');
                    row.id = `stmtID-${stmtRecord[colNameMapping['ID']]}`;
                    let query1 = dataFrame.employees.loc({ rows: dataFrame.employees['工號簡碼'].eq(stmtRecord['申請人工號簡碼']) });
                    let query2 = dataFrame.materials.loc({ rows: dataFrame.materials['物料代號'].eq(stmtRecord['物料代號']).and(dataFrame.materials['供應商簡稱'].eq(stmtRecord['供應商簡稱'])) });
                    const employeeName = query1.shape[0] === 1 ? dfd.toJSON(query1)[0]['姓名'] : '';
                    const partName = query2.shape[0] === 1 ? dfd.toJSON(query2)[0]['品名規格'] : '';
                    let submitDateObject = stmtRecord['更新時間戳'] || stmtRecord['創建時間戳'];
                    const submitDate = moment(submitDateObject).tz(timezone).format('YYYY-MM-DD');
                    
                    // 創建查看更多資訊按鈕
                    const moreInfo_btn = document.createElement('button');
                    moreInfo_btn.type = "button";
                    moreInfo_btn.classList.add('btn', 'px-2', 'border-0', 'd-flex', 'align-items-center');
                    moreInfo_btn.innerHTML = `
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square pe-none" viewBox="0 0 16 16">
                            <path class="pe-none" d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path class="pe-none" d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                        </svg>
                    `;
                    moreInfo_btn.onclick = (event) => showStmtDetails(stmtRecord[colNameMapping['ID']]);
                    
                    // 創建修改狀態按鈕
                    const editStatus_btn = document.createElement('button');
                    editStatus_btn.type = "button";
                    editStatus_btn.classList.add('btn', 'px-2', 'border-0', 'd-flex', 'align-items-center');
                    editStatus_btn.innerHTML = `
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-pulse pe-none" viewBox="0 0 16 16">
                            <path class="pe-none" fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm-2 0h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2m6.979 3.856a.5.5 0 0 0-.968.04L7.92 10.49l-.94-3.135a.5.5 0 0 0-.895-.133L4.232 10H3.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 .416-.223l1.41-2.115 1.195 3.982a.5.5 0 0 0 .968-.04L9.58 7.51l.94 3.135A.5.5 0 0 0 11 11h1.5a.5.5 0 0 0 0-1h-1.128z"/>
                        </svg>
                    `;
                    editStatus_btn.onclick = (event) => showStmtStatusEditor(stmtRecord[colNameMapping['ID']]);

                    tableColNames.forEach(columnName => {
                        const td = document.createElement('td');
                        if (columnName === '申請人')
                            td.textContent = employeeName;
                        else if (columnName === '品名規格')
                            td.textContent = partName;
                        else if (columnName === '提交日期')
                            td.textContent = submitDate;
                        else if (columnName === '更多操作') {
                            td.classList.add('d-flex');
                            td.appendChild(moreInfo_btn);
                            td.appendChild(editStatus_btn);
                        }
                        else
                            td.textContent = stmtRecord[colNameMapping[columnName]];
                        row.appendChild(td);
                    });
                    tbody.appendChild(row);
                });

                table.appendChild(thead);
                table.appendChild(tbody);
                tableContainer.appendChild(table);
                container.appendChild(tableContainer);
            }
            
            // 為指定的 <select> OR <datalist> 設置選項，首先清除所有現有選項，然後添加一個預設選項和選項清單
            function setupSelectOptions(selector, list, hasEmptyOption = false) {
                // 清除 selector 中的所有子節點
                while (selector.firstChild) selector.removeChild(selector.firstChild);

                // 創建並添加一個預設選項，該選項被禁用且被隱藏
                const defaultOption = new Option('請選擇一個選項', '', true, true);
                defaultOption.hidden = !hasEmptyOption;
                selector.appendChild(defaultOption);

                // 創建一個文檔片段
                let fragment = document.createDocumentFragment();

                // 遍歷清單元素，創建並添加選項
                Array.from(new Set(list)).forEach(columnName => fragment.appendChild(new Option(columnName, columnName)));

                // 將文檔片段中的所有選項一次性添加到 selector 中
                selector.appendChild(fragment);
            }

            // 針對d-flex物件的顯示/隱藏設定
            function setDFlexElmVisibility(dflexElement, isVisible) {
                if (isVisible) {
                    dflexElement.classList.add('d-flex');
                    dflexElement.classList.remove('d-none');
                }
                else {
                    dflexElement.classList.add('d-none');
                    dflexElement.classList.remove('d-flex');
                }
            }

            function previewFile(file) {
                const iframe = document.getElementById('filePreviewIframe');
                const videoPlayer = document.getElementById('videoPlayer');
                const audioPlayer = document.getElementById('audioPlayer');

                // 隱藏所有播放器
                iframe.classList.add('d-none');
                videoPlayer.classList.add('d-none');
                audioPlayer.classList.add('d-none');

                
                const fileUrl = URL.createObjectURL(file);

                iframe.src = fileUrl;
                iframe.classList.remove('d-none');

                new bootstrap.Modal(document.getElementById('filePreviewModal')).show();
                document.getElementById('filePreviewModal').addEventListener('hidden.bs.modal', () => {
                    URL.revokeObjectURL(fileUrl);
                    iframe.src = '';
                    videoPlayer.src = '';
                    audioPlayer.src = '';
                    iframe.classList.add('d-none');
                    videoPlayer.classList.add('d-none');
                    audioPlayer.classList.add('d-none');
                }, { once: true });
            }

            /**
             * Fills the statement details modal with the provided data.
             *
             * @param {Object} data - The data object containing statement details.
             * @param {string|number} data.stmtId - The statement ID.
             * @param {string} data.OfficialReqFormId - The official request form ID.
             * @param {string} data.supplierId - The supplier ID.
             * @param {string} data.supplierName - The supplier name.
             * @param {string} data.materialId - The material ID.
             * @param {string} data.partName - The part name.
             * @param {string} data.applierId - The applier ID.
             * @param {string} data.applierName - The applier name.
             * @param {string} data.unitPrice - The unit price.
             * @param {string} data.quantity - The quantity.
             * @param {string} data.totalPrice - The total price.
             * @param {string} data.currency - The currency.
             * @param {string} data.status - The status.
             * @param {string} data.statusUpdateDate - The status update date.
             * @param {string} data.description - The description.
             * @param {string} data.remarks - The remarks.
             * @param {string} data.delieveryOfficeId - The delivery office ID.
             * @param {string} data.delieveryOfficeName - The delivery office name.
             * @param {string} data.materialType - The material type.
             * @param {string} data.purchaseType - The purchase type.
             * @param {string} data.projectName - The project name.
             * @param {string} data.createdDate - The created date.
             * @param {string} data.modifiedDate - The modified date.
             *
             * This function updates the text content of various elements in the statement details modal
             * with the corresponding values from the provided data object.
             */
            function fillStmtDetailsModalData(data) {
                document.getElementById("displayStmt-stmtId").innerText = data.stmtId;
                document.getElementById("displayStmt-OfficialReqFormId").innerText = data.OfficialReqFormId;
                document.getElementById("displayStmt-supplierId").innerText = data.supplierId;
                document.getElementById("displayStmt-supplierName").innerText = data.supplierName;
                document.getElementById("displayStmt-materialId").innerText = data.materialId;
                document.getElementById("displayStmt-partName").innerText = data.partName;
                document.getElementById("displayStmt-applierId").innerText = data.applierId;
                document.getElementById("displayStmt-applierName").innerText = data.applierName;
                document.getElementById("displayStmt-unitPrice").innerText = data.unitPrice;
                document.getElementById("displayStmt-quantity").innerText = data.quantity;
                document.getElementById("displayStmt-totalPrice").innerText = data.totalPrice;
                document.getElementById("displayStmt-currency").innerText = data.currency;
                document.getElementById("displayStmt-status").innerText = data.status;
                document.getElementById("displayStmt-statusUpdateDate").innerText = data.statusUpdateDate;
                document.getElementById("displayStmt-description").innerText = data.description;
                document.getElementById("displayStmt-remarks").innerText = data.remarks;
                document.getElementById("displayStmt-delieveryOfficeId").innerText = data.delieveryOfficeId;
                document.getElementById("displayStmt-delieveryOfficeName").innerText = data.delieveryOfficeName;
                document.getElementById("displayStmt-materialType").innerText = data.materialType;
                document.getElementById("displayStmt-purchaseType").innerText = data.purchaseType;
                document.getElementById("displayStmt-projectName").innerText = data.projectName;
                document.getElementById("displayStmt-createdDate").innerText = data.createdDate;
                document.getElementById("displayStmt-modifiedDate").innerText = data.modifiedDate;
            }

            /**
             * Displays the details of a statement in a modal.
             *
             * @param {number|string} stmt_id - The ID of the statement to display.
             *
             * This function retrieves details for a given statement ID from various data frames and formats the data
             * into a structured object. If the statement is found, it fills a modal with the details and displays it.
             * If the statement is not found, it alerts the user and logs an error.
             *
             * Data is retrieved from the following sources:
             * - Statement filter result data frame (reqStmtFilterResultDf)
             * - Employees data frame (dataFrame.employees)
             * - Materials data frame (dataFrame.materials)
             * - Suppliers data frame (dataFrame.suppliers)
             * - MinMax office data frame (dataFrame.minmaxOffice)
             *
             * The function also formats dates and calculates total price where applicable.
             *
             * Errors are handled by alerting the user and logging the error to the console.
             */
            function showStmtDetails(stmt_id) {
                let query1 = reqStmtFilterResultDf.loc({ rows: reqStmtFilterResultDf['默認主鍵'].eq(stmt_id) });
                if (query1.shape[0] !== 1) {
                    alert('檢視明細內容失敗！');
                    console.error('檢視明細內容失敗！');
                    return;
                }
                const stmtRecord = dfd.toJSON(query1)[0];
                let query2 = dataFrame.employees.loc({ rows: dataFrame.employees['工號簡碼'].eq(stmtRecord['申請人工號簡碼']) });
                let query3 = dataFrame.materials.loc({ rows: dataFrame.materials['物料代號'].eq(stmtRecord['物料代號']).and(dataFrame.materials['供應商簡稱'].eq(stmtRecord['供應商簡稱'])) });
                let query4 = dataFrame.suppliers.loc({ rows: dataFrame.suppliers['簡稱'].eq(stmtRecord['供應商簡稱']) });
                let query5 = dataFrame.minmaxOffice.loc({ rows: dataFrame.minmaxOffice['廠區名稱'].eq(stmtRecord['收貨廠區']) });
                const employeeName = query2.shape[0] === 1 ? dfd.toJSON(query2)[0]['姓名'] : '';
                const partName = query3.shape[0] === 1 ? dfd.toJSON(query3)[0]['品名規格'] : '';
                const supplierId = query4.shape[0] === 1 ? dfd.toJSON(query4)[0]['供應商編號'] : '';
                const delieveryOfficeId = query5.shape[0] === 1 ? dfd.toJSON(query5)[0]['地址碼'] : '';
                const totalPrice = stmtRecord['單價'] && stmtRecord['需求數量'] ? parseFloat((stmtRecord['單價'] * stmtRecord['需求數量']).toFixed(3)) : '';
                const statusUpdateDate = moment(stmtRecord['狀態更新時間戳']).tz(timezone).format('YYYY-MM-DD') || '';
                const createdDate = moment(stmtRecord['創建時間戳']).tz(timezone).format('YYYY-MM-DD') || '';
                const modifiedDate = moment(stmtRecord['更新時間戳']).tz(timezone).format('YYYY-MM-DD') || '';
                const data = {
                    stmtId: stmtRecord['默認主鍵'] || '',
                    OfficialReqFormId: stmtRecord['資材部請購單號'] || '',
                    supplierId: supplierId || '',
                    supplierName: stmtRecord['供應商簡稱'] || '',
                    materialId: stmtRecord['物料代號'] || '',
                    partName: partName || '',
                    applierId: stmtRecord['申請人工號簡碼'] || '',
                    applierName: employeeName || '',
                    unitPrice: stmtRecord['單價'] || '',
                    quantity: stmtRecord['需求數量'] || '',
                    totalPrice: totalPrice || '',
                    currency: stmtRecord['幣別'] || '',
                    status: stmtRecord['狀態'] || '',
                    statusUpdateDate: statusUpdateDate || '',
                    description: stmtRecord['用途說明'] || '',
                    remarks: stmtRecord['備註'] || '',
                    delieveryOfficeId: delieveryOfficeId || '',
                    delieveryOfficeName: stmtRecord['收貨廠區'] || '',
                    materialType: stmtRecord['物料類別'] || '',
                    purchaseType: stmtRecord['請購類型'] || '',
                    projectName: stmtRecord['專案名稱'] || '',
                    createdDate: createdDate || '',
                    modifiedDate: modifiedDate || '',
                };
                fillStmtDetailsModalData(data);
                new bootstrap.Modal(document.getElementById('stmtDetailsModal')).show();
            }

            function uploadStmtStatus(stmt_id, status) {

            }

            function showStmtStatusEditor(stmt_id) {

            }

            /**
             * Initializes a date range picker on an input element with specific settings.
             *
             * This function configures a date range picker with predefined ranges, localization options,
             * and other settings such as the date format, min and max date limits.
             */
            function initializeDateRangePicker() {
                const input = document.querySelector('input[name="daterange"]');
                if (!input) return;

                new daterangepicker(input, {
                    ranges: {
                        '一周': [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
                        '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        '今天': [moment(), moment()],
                    },
                    locale: {
                        format: 'YYYY/MM/DD',
                        separator: ' - ',
                        applyLabel: '確認',
                        cancelLabel: '取消',
                        customRangeLabel: '自訂範圍',
                        daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                        monthNames: ['1 月', '2 月', '3 月', '4 月', '5 月', '6 月', '7 月', '8 月', '9 月', '10 月', '11 月', '12 月'],
                        firstDay: 1
                    },
                    startDate: moment().subtract(7, 'days'),
                    endDate: moment().subtract(1, 'days'),
                    minDate: '1990/08/07',
                    maxDate: moment(),
                });
            }

            window.addEventListener('load', () => setDFlexElmVisibility(document.getElementById('search-btn'), true), false);

            function startUp() {
                Promise.all(resourceName_get.map(fetchResource)).then(() => {
                    setupSelectOptions(document.getElementById('material_datalist'), dataFrame.materials['物料代號'].values);           // 物料表>料號
                    setupSelectOptions(document.getElementById('supplier_datalist'), dataFrame.materials['供應商簡稱'].values);         // 物料表>供應商
                    setupSelectOptions(document.getElementById('employee_datalist'), dataFrame.employees['工號簡碼'].values);           // 申請人
                    setupSelectOptions(document.getElementById('Input_delieveryOffice'), dataFrame.minmaxOffice['廠區名稱'].values);    // 收貨廠區
                })
                    .catch(error => console.error('Error during startup:', error));

                document.getElementById('search-btn').addEventListener('click', search, false);

                initializeDateRangePicker();
            }
            window.addEventListener('DOMContentLoaded', startUp, false);
        })();
    </script>
</body>
</html>
